.footer {
  padding: 30px 0;
  background: #f1eadc;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__card-icons {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    align-items: end;
  }
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 45px;
    &-item {
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      /* identical to box height, or 21px */

      letter-spacing: 0.02em;

      color: #000000;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: #6e9c9f;
        transition: 0.5s;
      }
    }
  }
}
