.header {
  padding: 20px 0;
  background: #f1eadc;
  &__title {
    width: 200px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    align-items: center;
    column-gap: 45px;
  }
  &__link {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #000000;
    &.active {
      font-size: 22px;
      font-weight: 700;
      color: #6e9c9f;
    }
  }
  &__right {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  &__phone {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #000000;
    display: flex;
    align-items: center;
  }
  &__user {
    font-size: 24px;
    color: black;
  }
}
